*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}



header{
    background-color:#000;
}
.line{
    width:1px;
    background-color: #fff;
    height:40px;
}

.navi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    height:70px;
}

.logo-nav{
    display: flex;
    gap:70px;
    align-items: center;
    justify-content: space-between;
}
.logo-nav img{
    height:30px;
}

.list{
    display: flex;
    gap:70px;
    color:#ffffff;
    list-style: none;
    font-weight: 500;
    font-family: "Poppins";
    font-style: normal;
    font-size:15px;
    cursor: pointer;
}

li:hover{
    font-size:16px;
    text-decoration: underline;
}

.btnn-head{
    color:#ffffff;
    background-color: #b90ec5;
    border:none;
    padding:8px 20px;
    font-weight: 600;
    border-radius: 5px;
    line-height: 20px;
    cursor: pointer;
}

.btnn-head:hover{
    line-height: 25px;
}

.sec{
    padding-top: 80px;
    text-align: center;
    background-image: url(assets/bg1.png);
    background-size: cover;
    background-attachment: fixed;
    height:90vh;
}

.cent-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}

/* .head-div{
    width:50%;
} */

.heading{

        color:#ffffff;
        font-size:70px;
        font-weight: 700;
        font-family: "Poppins";
        font-style: normal;
        max-width: 800px;
        line-height: 90px;
}

.para{
    color:#ffffff;
    font-size:25px;
    font-weight: 500;
    line-height: 20px;
}

.btnn-sec{

    color:#ffffff;
    background-color: #b90ec5;
    border:none;
    font-size: 20px;
    padding:15px 15px;
    font-weight: 600;
    border-radius: 10px;
    font-family: "Poppins";
    font-style: normal;
    line-height: 25px;
    cursor: pointer;
}

.btnn-sec:hover{
    line-height: 30px;
}